@import "tailwindcss";

html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}
* {
	box-sizing: border-box;
}

main,
.app-content {
	padding-top: 4rem;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #eef2ff;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, #6366f1, #4f46e5);
	border-radius: 10px;
	border: 2px solid #eef2ff;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(180deg, #4f46e5, #4338ca);
}

